<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <img src="./assets/photo.png" alt="" class="rounded-circle border border-secondary border-5 position-relative posicion" width="auto" height="150">
                <label for="">Luis Roman <br> Angel Bryan</label>
                <h5>Full Stack Developer Jr</h5>
            </div>
            <div class="col-2"></div>
            <div class="col-7 rounded-circle border-primary">
                <h4>Información personal: </h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi omnis at, sunt temporibus asperiores tempora laudantium exercitationem fugit delectus necessitatibus? Voluptatibus soluta aliquid magni possimus asperiores ab animi dolor necessitatibus!
                    Doloremque tenetur, veniam illo laboriosam distinctio numquam quos doloribus cum nostrum sed deserunt ipsa, rem culpa facilis dolorum at harum assumenda, incidunt amet itaque eaque! Fuga ex nihil expedita commodi.
                    Hic quam earum debitis, dignissimos nobis minima blanditiis commodi itaque, iure assumenda provident totam ullam? Repudiandae accusamus fuga unde, beatae doloremque voluptas non cupiditate laboriosam enim minus molestias, porro facilis.
                    Sequi iure architecto assumenda alias autem et excepturi, vitae deserunt, quis, numquam velit! Pariatur, id iure consequuntur nulla expedita maxime sit dolores deserunt aliquam, numquam enim voluptate laborum, distinctio et!
                    Tenetur dolores labore quidem? Repellendus, voluptatibus quos. Totam modi fuga rem ea quibusdam? Consequuntur earum ex ducimus repellendus excepturi obcaecati unde cum iste, libero sint sequi possimus laborum, explicabo consectetur.
                    Facilis, veritatis ipsum? Fugiat odio ipsam illo numquam, dolores enim officia, maxime, unde quod accusantium sit voluptatibus sapiente quibusdam et maiores quisquam beatae. Culpa reprehenderit, dignissimos provident quo libero odit.
                    Velit a tenetur illum recusandae? Amet molestiae, voluptas deleniti minima adipisci ea eaque iusto odio, earum voluptate mollitia quod quibusdam aperiam maxime obcaecati beatae quia vero nostrum rerum, fugit dolores.
                    Nisi, nemo, natus laborum aperiam iusto porro magnam cumque velit pariatur quo animi provident alias dignissimos numquam quos. Ad ullam sed nobis eius odit corrupti, eum dolores illum sapiente labore.
                    Illo voluptas error commodi reiciendis eligendi placeat impedit doloribus similique ea odio laborum, dolores, cumque dicta beatae rerum magnam molestias perspiciatis qui ut reprehenderit. Soluta amet accusamus temporibus exercitationem dolor?
                    Magnam ipsum nihil doloribus asperiores quam est, nemo perspiciatis porro vitae dolores iste dolorum amet. Minus eaque nisi deleniti similique sapiente ratione nam, architecto necessitatibus corrupti, laudantium suscipit quasi fugit!
                    Minus quae, voluptatem nulla, iste quisquam labore nemo eligendi suscipit praesentium impedit temporibus officia explicabo fuga natus eius, quia saepe voluptatibus unde magni debitis. Beatae necessitatibus delectus laborum aut voluptates!
                    Ea, deserunt ut! Nihil fugit maxime nisi, dolore neque repudiandae illum blanditiis quisquam, facere, similique laudantium laborum repellat vel maiores ipsa mollitia? Harum similique excepturi, voluptatem doloribus maxime obcaecati ducimus?
                    Et esse sint dicta est? Ipsum, doloremque quam, harum soluta quas quibusdam optio commodi itaque repellendus consectetur natus dolor atque perspiciatis consequuntur hic id dicta voluptatibus eum omnis temporibus cum!
                    Corporis asperiores voluptas autem earum, blanditiis animi officiis adipisci repudiandae tempora aspernatur nisi illum ipsam tempore in magnam voluptates dolore ducimus reiciendis. Similique accusantium deserunt amet corporis quaerat, itaque eum!
                    Unde blanditiis est illum. Veniam perspiciatis esse obcaecati sequi asperiores consequuntur dicta dolorem, numquam provident ratione sapiente quidem, modi, ipsa iste dolore laboriosam harum dolorum repudiandae vel. Nulla, itaque accusamus.
                    Voluptatibus odio nemo laborum eaque qui minus? Id, ab molestiae. Incidunt, cupiditate! Earum tempora aspernatur odio consequatur at beatae pariatur. Magni repudiandae reiciendis aliquam, ad molestias cum quaerat! Maxime, optio?
                    Obcaecati numquam reiciendis, ipsum ex quasi perspiciatis vel voluptatum dignissimos delectus! Eligendi totam cum porro iure? Officiis accusamus excepturi debitis natus quia perferendis, consequatur hic maxime ea facere accusantium assumenda.
                    Nemo quibusdam maiores minus neque iste. Delectus repellat temporibus aspernatur vel quibusdam sed illo, veniam sequi reprehenderit rerum harum aut, praesentium sunt voluptates omnis accusantium, fugit iste expedita libero. Consectetur.
                    Quod numquam repellat similique eum libero, autem ab ut architecto molestias obcaecati cupiditate ipsa excepturi qui! Cumque nobis quis, nihil veritatis nemo cum delectus sed aliquid maxime saepe inventore! Dicta.
                    
                </p>
            </div>
        </div>
    </div>
<hr>
    <div class="container">
        <div class="h2 text-center">Habilidades Duras</div>
        <div class="hard-abilities row">
            <div class="col-lg-4 col-md-2 col-sm-1 col-xs-2">
                <circle-progress
                [showImage]="true"
                [imageSrc]="'../assets/images/html.png'"
                [outerStrokeColor]="'#ff3422'">
                </circle-progress>
            </div>

            <div class="col-lg-4 col-md-2 col-sm-1 col-xs-2">
                <circle-progress
                [showImage]="true"
                [imageSrc]="'../assets/images/css.png'"
                [outerStrokeColor]="'#006fff'">
                </circle-progress>
            </div>

            <div class="col-lg-4 col-md-2 col-sm-1 col-xs-2">
                <circle-progress
                [showImage]="true"
                [imageSrc]="'../assets/images/javaScript.png'"
                [outerStrokeColor]="'#f9df00'"
                [imageHeight]="40"
                [imageWidth]="30">
                </circle-progress>
            </div>

            <div class="col-lg-4 col-md-2 col-sm-1 col-xs-2">
                <circle-progress
                [showImage]="true"
                [imageSrc]="'../assets/images/angular.png'"
                [outerStrokeColor]="'#ff002f'">
                </circle-progress>
            </div>

            <div class="col-lg-4 col-md-2 col-sm-1 col-xs-2">
                <circle-progress
                [showImage]="true"
                [imageSrc]="'../assets/images/java.png'"
                [outerStrokeColor]="'#ff3422'">
                </circle-progress>
            </div>

            <div class="col-lg-4 col-md-2 col-sm-1 col-xs-2">
                <circle-progress
                [showImage]="true"
                [imageSrc]="'../assets/images/spring.png'"
                [outerStrokeColor]="'#85ee0a'">
                </circle-progress>
            </div>
            
        </div>
    </div>
<hr>
    <div class="container">
        <div class="h1 text-center">Habilidades Blandas</div>
        <div class="hard-abilities row">
            
            <div class="col-lg-4 col-md-2 col-sm-1 col-xs-2">
                <circle-progress
                [showImage]="true"
                [imageSrc]="'../assets/images/.png'"
                [outerStrokeColor]="'#ff3422'">
                </circle-progress>
            </div>

            <div class="col-lg-4 col-md-2 col-sm-1 col-xs-2">
                <circle-progress
                [showImage]="true"
                [imageSrc]="'../assets/images/.png'"
                [outerStrokeColor]="'#ff3422'">
                </circle-progress>
            </div>

            <div class="col-lg-4 col-md-2 col-sm-1 col-xs-2">
                <circle-progress
                [showImage]="true"
                [imageSrc]="'../assets/images/.png'"
                [outerStrokeColor]="'#ff3422'">
                </circle-progress>
            </div>

            <div class="col-lg-4 col-md-2 col-sm-1 col-xs-2">
                <circle-progress
                [showImage]="true"
                [imageSrc]="'../assets/images/.png'"
                [outerStrokeColor]="'#ff3422'">
                </circle-progress>
            </div>
            
            
        </div>
    </div>



    <!-- Se escribira a continuacion mi experiencia laboral  -->
</main>
<hr><br>

