<main id="#0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <img src="./assets/photo.png" alt="" class="rounded-circle border border-secondary border-5 position-relative posicion" width="auto" height="150">
                <label for="">Luis Roman <br> Angel Bryan</label>
                <h5>Full Stack Developer Jr</h5>
            </div>
            <div class="col-2"></div>
            <div class="col-7 rounded-circle border-primary">
                <h4>Información personal: </h4>
                <p>
                    maiores minus neque iste. Delectus repellat temporibus aspernatur vel quibusdam sed illo, veniam sequi reprehenderit rerum harum aut, praesentium sunt voluptates omnis accusantium, fugit iste expedita libero. Consectetur.
                    Quod numquam repellat similique eum libero, autem ab ut architecto molestias obcaecati cupiditate ipsa excepturi qui! Cumque nobis quis, nihil veritatis nemo cum delectus sed aliquid maxime saepe inventore! Dicta.
                    
                </p>
            </div>
        </div>
    </div>

    <app-abilities></app-abilities>
    
    



    <!-- Se escribira a continuacion mi experiencia laboral  -->

    <app-experience></app-experience>


    


    <a href="#up" class="btnUp" >
        <img src="./assets/icons/move-up.png" alt=""  width="auto" height="60" class="">
    </a>
</main>


