<div class="container">
    <h2 class="text-decoration-underline text-center mt-3 mb-3">Experiencia</h2>
  <div class="row">
    <div
      class="col-sm-12 col-md-4 col-lg-4 col-xl-3 col-xxl-3"
      *ngFor="let exp of experiencias; let i = index"
    >
      <div class="card mb-3">
        <img
          [src]="imagenes[i]"
          class="card-img-top"
          alt="imagen"
          width="200"
          height="auto"
        />
        <span
            *ngIf="editService.editMode$ | async"
            class="bi bi-pencil-square position-absolute top-50 start-50 translate-middle text-center"
            style="font-size: 2rem"
            data-bs-toggle="modal"
            data-bs-target="#editarExp"
            (click)="seleccionarExp(exp)"
          ></span>
          <app-modal-form [id]="'editarExp'" [title]="'Editar experiencia'" [formLabel1]="'Nombre del lugar de trabajo'"
        [formLabel2]="'Rol del trabajo'" [formControl1]="'lugarTrabajo'" [formControl2]="'rolTrabajo'" [startDate]="'fechaInicio'" [endDate]="'fechaFinalizacion'" (save)="editExp($event)" (imagen)="editImageExp($event)" (delete)="deleteExp()"></app-modal-form>
        <div class="card-body">
          <h5 class="card-title"><p class="text-decoration-underline">Puesto: </p>{{ exp.tituloTrabajo  }}</h5>
          <p class="card-text">
            Trabaje en {{exp.lugarTrabajo}} durante 
          </p>
          <p class="card-text">
            <small class="text-muted">Fecha de inicio: {{ exp.fechaInicio | date }}</small>
          </p>
          <p class="card-text">
            <small class="text-muted">Fecha de finalización {{ exp.fechaFinalizacion | date}}</small>
          </p>
        </div>
      </div>
    </div>
    <div *ngIf="editService.editMode$ | async" class="card col-sm-12 col-md-4 col-lg-4 col-xl-3 col-xxl-3" data-bs-toggle="modal"
    data-bs-target="#crearExp">
        <img src="./assets/icons/mas.png" alt="add" class="card-img-top" width="150" height="auto">
        <div class="card-body">
          <h4 class="card-text">Puedes agregar una nueva experiencia</h4>
        </div>
      </div>
  </div>
</div>
<app-modal-form [id]="'crearExp'" [title]="'Crear experiencia'" [formLabel1]="'Nombre del lugar de trabajo'"
 [formLabel2]="'Rol del trabajo'" [formControl1]="'lugarTrabajo'" [formControl2]="'rolTrabajo'" [startDate]="'fechaInicio'" [endDate]="'fechaFinalizacion'" (save)="postExp($event)"></app-modal-form> 