<div class="" id="btnUp"></div>
<header class="bg-purple sticky-top">
  <div class="container-fluid">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg bd-navbar sticky-top">
        <a href="" class="navbar-brand has-logo">
          <span class="logo d-inline">
            <img
              src="//argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1676134779/Dise%C3%B1o%20sin%20t%C3%ADtulo%20%2817%29.png"
              alt="ArgentinaPrograma"
              width="200"
              height="auto"
            />
          </span>
        </a>

        <button
          type="button"
          class="navbar-toggler"
          data-bs-toggle="collapse"
          data-bs-target="#MenuNavBar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div id="MenuNavBar" class="collapse navbar-collapse">
          <ul class="navbar-nav flex-row flex-wrap ms-md-auto ">
            <li class="nav-item">
              <a class="nav-link" href="mailto:luisangelromanbryan@gmail.com">
                <img
                  src="./assets/gmail.png"
                  alt="gmail"
                  width="auto"
                  height="25"
                />
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://api.whatsapp.com/send?phone=1130360775"
                target="_blank"
              >
                <img
                  src="./assets/whatsapp.png"
                  alt="whatsapp"
                  width="auto"
                  height="25"
                />
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://github.com/NONHIGH"
                target="_blank"
              >
                <img
                  src="./assets/github.png"
                  alt="github"
                  width="auto"
                  height="25"
                />
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://www.linkedin.com/in/angel-bryan-luis-roman-a09328260"
                target="_blank"
              >
                <img
                  src="./assets/linkedin.png"
                  alt="linkedin"
                  width="auto"
                  height="25"
                />
              </a>
            </li>
            <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
              <div class="vr d-none d-lg-flex h-100 mx-lg-2 text-white"></div>
              <hr class="d-lg-none my-2 text-white-50" />
            </li>
            <li>
              <a *ngIf="authService.isLogged()" href="#" class="nav-item" (click)="logOut()">
                <img
                  src="./assets/logout.png"
                  alt="LogOut"
                  width="auto"
                  height="25"
                />
              </a>
            </li>
            <li>
              <a *ngIf="!authService.isLogged()" class="nav-item">
                <img
                  src="./assets/icons/login.png"
                  alt="login"
                  width="auto"
                  height="25"
                  data-bs-toggle="modal" data-bs-target="#modalOption"
                />
              </a>
            </li>
            <li>
              <a *ngIf="editService.editMode$ |async" class="nav-item" (click)="disableEditMode()">
                <img
                  src="./assets/icons/success.png"
                  alt="hecho"
                  width="auto"
                  height="25"
                />
              </a>
            </li>
            <li>
              <a *ngIf="!(editService.editMode$ |async) && authService.isLogged()" class="nav-item" (click)="editMode()">
                <img
                  src="./assets/icons/edit.png"
                  alt="edit"
                  width="auto"
                  height="25"
                />
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>


<div class="modal fade" id="modalOption" tabindex="-1" aria-labelledby="option" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="option">Bienvenido</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Por favor inicie sesión o regístrese para continuar</p>
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary" href="/login" role="button">Iniciar sesión</a>
        <a class="btn btn-secondary" href="/register" role="button">Registrarse</a>
      </div>
    </div>
  </div>
</div>