<div class="container">
    <div class="h2 text-center">Habilidades Duras</div>
    <div class="hard-abilities row">
        <div class="col-lg-4 col-md-2 col-sm-3 col-xs-2">
            <circle-progress
            [showImage]="true"
            [imageSrc]="'../assets/images/html.png'"
            [outerStrokeColor]="'#ff3422'">
            </circle-progress>
        </div>

        <div class="col-lg-4 col-md-2 col-sm-3 col-xs-2">
            <circle-progress
            [showImage]="true"
            [imageSrc]="'../assets/images/css.png'"
            [outerStrokeColor]="'#006fff'">
            </circle-progress>
        </div>

        <div class="col-lg-4 col-md-2 col-sm-3 col-xs-2">
            <circle-progress
            [showImage]="true"
            [imageSrc]="'../assets/images/javaScript.png'"
            [outerStrokeColor]="'#f9df00'"
            [imageHeight]="40"
            [imageWidth]="30">
            </circle-progress>
        </div>

        <div class="col-lg-4 col-md-2 col-sm-3 col-xs-2">
            <circle-progress
            [showImage]="true"
            [imageSrc]="'../assets/images/angular.png'"
            [outerStrokeColor]="'#ff002f'">
            </circle-progress>
        </div>

        <div class="col-lg-4 col-md-2 col-sm-3 col-xs-2">
            <circle-progress
            [showImage]="true"
            [imageSrc]="'../assets/images/java.png'"
            [outerStrokeColor]="'#ff3422'">
            </circle-progress>
        </div>

        <div class="col-lg-4 col-md-2 col-sm-3 col-xs-2">
            <circle-progress
            [showImage]="true"
            [imageSrc]="'../assets/images/spring.png'"
            [outerStrokeColor]="'#85ee0a'">
            </circle-progress>
        </div>
        
    </div>
</div>
<div class="container">
    <div class="h1 text-center">Habilidades Blandas</div>
    <div class="hard-abilities row">
        
        <div class="col-lg-4 col-md-2 col-sm-3 col-xs-2">
            <circle-progress
            [showImage]="true"
            [imageSrc]="'../assets/icons/comunicacion.jpg'"
            [outerStrokeColor]="'#ff3422'">
            </circle-progress>
        </div>

        <div class="col-lg-4 col-md-2 col-sm-3 col-xs-2">
            <circle-progress
            [showImage]="true"
            [imageSrc]="'../assets/icons/resolucion-de-problemas.png'" 
            [outerStrokeColor]="'#ff3422'">
            </circle-progress>
        </div>

        <div class="col-lg-4 col-md-2 col-sm-3 col-xs-2">
            <circle-progress
            [showImage]="true"
            [imageSrc]="'../assets/icons/buda.png'"
            [outerStrokeColor]="'#ff3422'">
            </circle-progress>
        </div>

        <div class="col-lg-4 col-md-2 col-sm-3 col-xs-2">
            <circle-progress
            [showImage]="true"
            [imageSrc]="'../assets/icons/adaptacion.png'"
            [outerStrokeColor]="'#ff3422'">
            </circle-progress>
        </div>
        
        
    </div>
</div>